* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
    color: rgb(51, 51, 51);;
}

:root {
    --bg-color:  rgb(44, 199, 106);
}

p {
    color: rgb(112, 116, 122);
}
.menu {
    background-color: rgb(35, 42, 49);
    width: 100%;
    height: 80px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    height: 50px;
}

.nav-list {
    display: flex;
    gap: 30px;
    padding: 0 60px;
    
}

.nav-list li {
    color: #fff;
    list-style: none;
    text-transform: uppercase;
    margin-top: 15px;
}

.btn-menu {
    background-color: rgb(44, 199, 106);
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 15px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700px;
}

.main-banner {
    background-image: url(img/mainbanner.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 420px;
}

.descricao {
    padding-top: 160px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    text-shadow: rgb(0, 0, 0) 3px 2px 3px;
    
}

.descricao h1 {
    font-size: 54px;
    color: #fff;
}
.descricao p {
    font-size: 32px;
    color: #fff;
}

.section {
   padding: 50px 0;

}

.card {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.card li {
    list-style: none;
    text-align: center;
    padding: 20px;
}

.logo-card {
    font-size: 60px;
}

.title {
    margin-bottom: 20px;
}

.text {
    line-height: 24px;
}

.shield {
    color: rgb(44, 199, 106);
}

.rocket {
    color:  rgb(239, 63, 41);;
}

.mensage {
   color: rgb(239, 143, 41);
}

.section-price {
    padding-bottom: 50px 0;
    text-align: center;
}

.section-price h2 {
    font-size: 36px;
}

.section-price p {
    font-size: 20px;
}

.container-price {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto;
}

.plan {
    flex: 1;
    max-width: 275px;
    margin: 0 20px;
}

.plan ul {
    padding: 0;
}

.plan li {
    height: 50px;
    line-height: 50px;
    background-color: #e8e9ea;
    color: #333;
    list-style: none;
}

.plan .price {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #2cc762;
    color: #fff;
    text-align: center;
    line-height: 120px;
    margin: 0 auto -50px;
    font-size: 18px;
    position: relative;
}

.plan .plan-name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #202b34;
    padding: 25px 0;
    line-height: 100px;
   
}

.plan .plan-btn {
    background-color: #2cc762;
    color: #fff;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
    cursor: pointer ;
}

.plan .red {
    background-color:  rgb(244, 92, 87);
}

.dominio {
    background-color: rgb(52, 69, 78);
    padding: 50px 0;
    text-align: center;
}
.title-dominio {
    color: #fff;
    font-size: 40px;
    margin-bottom: 15px;
}

.text-dominio {
    font-size: 24px;
    margin-bottom: 25px;
}

.dominio-form input {
    border: 0;
    border-radius: 5px;
    width: 58%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

.btn-form {
    border: 0;
    border-radius: 5px;
    background-color: var(--bg-color);
    padding: 15px 30px;
    color: #fff;
    font-size: 24px;
}

footer {
    text-align: center;
    padding: 70px 0;
}

footer h1 {
    margin-bottom: 15px;
    font-size: 35px;
}

footer p {
    font-size: 20px;
    margin-bottom: 20px;
}


.container-footer input {
    width: 170px;
    border: 1px solid rgb(204, 204, 204);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 10px 20px;
}

.container-footer textarea {
    border: 0;
    border: 1px solid rgb(204, 204, 204) ;
    display: block;
    margin: 10px auto;
    width: 470px;
    height: 150px;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

.btn-footer {
    background-color: var(--bg-color);
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 80px;
}

footer p {
    font-size: 16px;
    color: rgb(105, 108, 110);
    font-weight: bold;
}



@media (max-width:1024px) {
    html, body {
        overflow-x: hidden;
    }
    
    .menu {
        padding: 0 15px;
    }

    .container-price {
        width: 95%;
    }

    .plan {
        margin: 0 5px;
    }

    .logo {
        padding: 0 30px;
    }
}

@media (max-width:768px) {
    html, body {
        overflow-x: hidden;
    }

   .descricao p {
    padding: 0 60px;
   }

   .title-dominio {
    padding: 0 60px
   }

   .dominio-form input {
    width: 370px;
   }
   
}    


@media (max-width:425px) {
    html, body {
        overflow-x: hidden;
    }

    .nav-list li {
        font-size: 14px;
        padding-top: 5px;
        
    }

    .nav-list  {
        gap: 20px;
        padding: 0 30px;
    }
 
    .btn-menu {
        padding: 15px;
        border-radius: 6px;
        font-size: 12px;
        margin-top: 7px;
    }

    .logo {
        padding: 0 5px;
    }
    

    .container-price {
        flex-direction: column;
        align-items: center;
    }

    .plan {
        width: 100%;
        max-width: 300px;
        margin: 15px 0;
    } 
    
    .descricao h1 {
        font-size: 45px;
    }

    .descricao p {
        font-size: 20px;
    }

    .title-dominio {
        font-size: 30px;
    }

    .text-dominio {
        font-size: 20px;
    }

    .dominio-form input {
        width: 71%;
        font-size: 17px;
    }

    .card {
        flex-direction: column;
    }

    footer {
        padding: 70px 15px;
    }

    .container-footer textarea {
        width: 300px;
        height: 100px;
    }
    
}

@media (max-width:375px) {
    html, body {
        overflow-x: hidden;
    }

    .menu {
        width: 100%;
    }

    .nav-list li {
        font-size: 12px;
        
        
    }

    .nav-list  {
        gap: 18px;
        padding: 0 25px;
    }
 
    .btn-menu {
        padding: 13px;
        border-radius: 6px;
        font-size: 12px;
        margin-top: 8px;
    }

    .logo {
        padding: 0 2px;
        height: 45px;
    }

    .descricao h1 {
        font-size: 40px;
    }
    

}

@media (max-width:320px) {
    html, body {
        overflow-x: hidden;
    }
   
    .menu {
        width: 100%;
    }

    .nav-list li {
        font-size: 11px;
    }

    .nav-list  {
        gap: 10px;
        padding: 0 25px;
    }
 
    .btn-menu {
        padding: 10px;
        border-radius: 6px;
        font-size: 11px;
        margin-top: 10px;
       
    }

    .logo {
        padding: 0 2px;
        height: 40px;
    }

    .descricao h1 {
        font-size: 35px;
    }

    .descricao p {
        font-size: 21px;
        padding: 0 20px;
    }

    .title-dominio {
        font-size: 26px;
        padding: 0 20px;
    }

    .dominio-form input {
        width: 68%;
        font-size: 15px;
    }

    .btn-form {
        font-size: 20px;
    }

    .container-footer textarea {
        width: 90%;
        height: 95px;
    }

    .btn-footer {
        width: 95%;
    }

}




    
   


